<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="restAssuredTestSuite">

<listeners>
	<listener class-name="com.employeeapi.utilities.Reporting" />
</listeners>

	<test name="restassuredtests">

		<classes>
			<class name="com.employeeapi.testCases.TC001_Get_All_Employees" />
			
		</classes>

	</test>

</suite>